body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}
.main{
    display: flex;
    height:  100vh;
    padding: 0.5rem;
}
.sidebar{
    background-color:black;
    width: 340px;
    border-radius: 1rem;
    margin-right: 0.5rem;
}
.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}
.music-player{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}
a{
    text-decoration: none;
    color: #fff;
}
.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}
.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}
.nav-option:hover{
    opacity: 1;
}
.nav-option span{
    font-size: 1.65rem;
}
nav-option a{
    font-size: 1.2rem;
    margin-left: 1rem;
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.75rem;
     padding: 0.5rem 0.75rem;
}
.option{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lib-option img{
    height: 1.25rem;
    width: 1.25rem; 
}
.icons{
    font-size: 1.25rem;
    display: flex;
}
.icons span{
    opacity: 0.7;
    margin-right: 1rem;
}
.icons span:hover{
    opacity:1;
}
.box{
    height: 8rem;
    background-color:#232323;
    border-radius: 1rem;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem 1rem;
}
.box-p1{
    font-size: 1rem;
    font-weight: 500;
}
.box-p2{
    font-size: 0.85rem;
    opacity: 0.9;
}
.badge{
    background-color: #fff;;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
      margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}
.sticky-nav{
    position: sticky;
    background-color: #121212;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}
.sticky-nav-icons{
    margin-left: 0.75rem;
    display: inline;
}
.sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.sticky-nav-options button{
    margin-right: 1rem;
}
.nav-item{
    margin-right: 1rem;
}
.dark-badge{
    color: #fff;
    background-color: #000;
}
@media(max-width: 1000px){
    .hide{
        display: none;
    }
}
.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
}
.card-img{
    width: 100%;
    border-radius: 0.5rem;
}
.card-title{
    font-weight: 600;
}
.card-info{
    font-size: 0.85rem;
    opacity: 0.5;
}
.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width: 90%;
    height: 50%;
    border-top: 1px solid white;
    opacity: 0.4;
}
.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.album{
    width: 25%;
}
.player{
    width: 50%
}
.controls{
    width: 25%;
}
.player-control-icons{
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
}
.player-controls{
     display: flex;
    justify-content: center;
    align-items: center;
}
.player-control-icons:hover{
    opacity: 1;
}
.playback-bar{
  display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar{
    width: 70%;
    appearance:none;
    background-color: transparent;
    cursor: pointer;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.1rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance:none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}
.right-options{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    padding: 0.5rem;
    opacity: 0.5;
}
.btn:hover{
    opacity: 1;
}
.rangebtn::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.1rem;
}
.rangebtn::-webkit-slider-thumb{
    appearance:none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -7px;
}
.album-image{
    height: 3rem;
    width: 3.5rem;
    padding: 0.75rem;
}
.left-part{
    display: flex;
}
.symbol:hover{
    cursor: pointer;
}
.song-name{
    font-weight: 400;
    font-size:0.8rem;
    opacity: 1;
    margin: 1.25rem 1rem 1rem 1rem;
}
.singer-name{
    font-size: 0.6rem;
    opacity: 0.75;
}
.singer-name:hover{
    opacity: 1;
    text-decoration: underline;
}
.left-part{
    display: flex;
}
.second-name{
    padding-left: 0.2rem;
}
.add-circle{
    margin-top: 1.7rem;
    margin-left: 0.45rem;
    opacity: 0.5;
}
.add-circle:hover{
    opacity: 1;
}
.left-part span{
    font-size: 1.2rem;
}